@charset "utf-8";
html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.main-timeline_one{
    position: relative;
}
.main-timeline_one .timeline_one{
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
}
.main-timeline_one .timeline_one-content{
    display: block;
    width: 50%;
    padding-left: 40px;
}
.main-timeline_one .timeline_one-content:hover{ text-decoration: none; }
.main-timeline_one .title{
    font-size: 22px;
    font-weight: 600;
    color: dodgerblue;
    margin: 0 0 5px 0;
}
.main-timeline_one .timeline_one-icon{
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background: cyan;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: dodgerblue;
    transform: translate(-50%, -50%);
}
.main-timeline_one .timeline_one-icon:before,
.main-timeline_one .timeline_one-icon:after{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,transparent 49%,#0b5ed7 50%);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
}
.main-timeline_one .timeline_one-icon:after{
    background: linear-gradient(-135deg,transparent 49%,dodgerblue 50%);
    left: 100%;
}
.main-timeline_one .description{
    font-size: 15px;
    color: #000;
    letter-spacing: 1px;
    margin: 0;
}

.main-timeline .content p {
    text-align: justify;
}

.main-timeline_one .timeline_one-year{
    font-size: 30px;
    font-weight: 600;
    color: dodgerblue;
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translateY(-50%) rotate(-90deg);
}
.main-timeline_one .timeline_one:nth-child(2n) .timeline_one-content{
    float: right;
    color: dodgerblue;
    padding-left: 0;
    padding-right: 40px;
}
.main-timeline_one .timeline_one:nth-child(2n) .timeline_one-year{
    left: auto;
    right: -12px;
}
.main-timeline_one .timeline_one:nth-child(2n) .timeline_one-icon{ background: darkblue; }
.main-timeline_one .timeline_one:nth-child(2n) .timeline_one-icon:before{ background: linear-gradient(45deg,transparent 49%,cyan 50%); }
.main-timeline_one .timeline_one:nth-child(2n) .timeline_one-icon:after{ background: linear-gradient(-135deg,transparent 49%,#38bbe5 50%); }
.main-timeline_one .timeline_one:nth-child(2n) .title,
.main-timeline_one .timeline_one:nth-child(2n) .timeline_one-year{ color: dodgerblue; }
.main-timeline_one .timeline_one:nth-child(3n) .timeline_one-icon{ background: #e34856; }
.main-timeline_one .timeline_one:nth-child(3n) .timeline_one-icon:before{ background: linear-gradient(45deg,transparent 49%,#f06e7a 50%); }
.main-timeline_one .timeline_one:nth-child(3n) .timeline_one-icon:after{ background: linear-gradient(-135deg,transparent 49%,#cb2332 50%); }
.main-timeline_one .timeline_one:nth-child(3n) .title,
.main-timeline_one .timeline_one:nth-child(3n) .timeline_one-year{ color: #cb2332; }
.main-timeline_one .timeline_one:nth-child(4n) .timeline_one-icon{ background: #8b103e; }
.main-timeline_one .timeline_one:nth-child(4n) .timeline_one-icon:before{ background: linear-gradient(45deg,transparent 49%,#a7325c 50%); }
.main-timeline_one .timeline_one:nth-child(4n) .timeline_one-icon:after{ background: linear-gradient(-135deg,transparent 49%,#79022c 50%); }
.main-timeline_one .timeline_one:nth-child(4n) .title,
.main-timeline_one .timeline_one:nth-child(4n) .timeline_one-year{ color: #79022c; }

@media only screen and (max-width: 990px){
    .main-timeline_one .timeline_one-icon{
        width: 80px;
        height: 80px;
        line-height: 80px;
    }
}

@media only screen and (max-width: 767px){
    .main-timeline_one .timeline_one{
        /*padding-top: 120px;*/
        margin-bottom: 30px;
    }
    .main-timeline_one .timeline_one:last-child{ margin-bottom: 0; }
    .main-timeline_one .timeline_one-content,
    .main-timeline_one .timeline_one:nth-child(even) .timeline_one-content{
        width: 100%;
        float: none;
        text-align: center;
        padding: 0;
    }
    .main-timeline_one .timeline_one-icon{
        top: 35px;
        transform: translate(-50%, 0);
    }
    .main-timeline_one .timeline_one-year{
        top: -4px;
        left: 50%;
        transform: translate(-50%, 0) rotate(0);
    }
    .main-timeline_one .timeline_one:nth-child(even) .timeline_one-year{
        right: auto;
        left: 50%;
    }
}
.link-none {

}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.curved {
    background-image: url("https://dentiq-demo.pbminfotech.com/demo1/wp-content/uploads/sites/2/2019/07/map.png?id=11067");
    color: #FFFFFF;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.curved-svg {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 999"><path fill="%23eeeee4" fill-opacity="1" d="M 0 300 L 600 300 L 1050 450 L 1450 450 L 1450 1000 L 720 650 L 0 1000 L 0 300 "></path><path fill="%23ffffff" fill-opacity="1" d="M 1550 1000 L 722 650 L 0 900 L 0 1000 L 1550 1000"></path></svg>');
    color: #FFFFFF;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.curved h1 {
    font-size: 6rem;
    margin-top: 0;
}

.curved p {
    font-size: 1rem;
    margin: 0 5rem 0 5rem;
}

.curved svg {
    display: block;
}

.curved.upper{
    background: #FFFFFF;
}

.bg-nav {
    background: darkblue;
}

.nav-link {
    font-size: 1rem;
    color: white;
}

.nav {
    --bs-nav-link-padding-x: 4rem;
    --bs-nav-link-hover-color: white;
}

.carousel-caption {
    top: 37%;
}
.carousel-caption-video{
    top: 0%;
    position:absolute;
    right:15%;
    bottom:1.25rem;
    left:0%;
    padding-top:1.25rem;
    padding-left:1.25rem;
    padding-bottom:1.25rem;
    color:#fff;
    text-align:start;
}
.carousel-item {
    position: relative;
}
.carousel-item img {
    z-index: 1;
}
.btn {
    padding: 10px 22px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn-danger {
    background-color: #e34c43;
    border-color: #e34c43;
}
.background-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.carousel-control-next, .carousel-control-prev{
    top: 75px;
    z-index: 1;
}
.carousel > .carousel-inner > .carousel-item > img{
    width:240px; /* Yeap you can change the width and height*/
    height:600px;
}
.carousel > .carousel-inner > .carousel-item > iframe{
    width:100%; /* Yeap you can change the width and height*/
    height:600px;
}
.carousel > .carousel-inner > .carousel-item > video{
    width:100%; /* Yeap you can change the width and height*/
    height:600px;
}
.carousel-video {
    display: block;
    object-fit: cover;
    position: relative;
    width: auto;
    height: auto;
    z-index: 1;
    /* uncomment the following line if you want to prevent mouse (or touch) clicks */
    /* pointer-events: none; */
}
.show-home{
    transform: translate(5px, 50px) !important;
}
.show-about{
    /*transform: translate(18px, 50px) !important;*/
    transform: translate(-17px, 50px) !important;
}
.show-product{
    /*transform: translate(15px, 50px) !important;*/
    transform: translate(-18px, 50px) !important;
}
.show-contact{
    transform: translate(13px, 50px) !important;
}
.dropdown-item {
    text-align: center;
}
.mobile-header{
    display: none!important;
    flex-wrap: wrap;
}

.content {
    padding: 16px;
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}
.nav-link-custom {
    font-size: 0.9rem;
    color: white;
}
@media(max-width:1180px) {
    .link-none{
        display: none;
    }
    .carousel > .carousel-inner > .carousel-item > img {
        width: 240px;
        height: 544px;
    }
    .carousel > .carousel-inner > .carousel-item > iframe {
        height: 544px;
    }
    .carousel > .carousel-inner > .carousel-item > video {
        height: 544px;
    }
    .carousel-caption h1 {
        font-size: 2.5rem !important;
        margin-bottom:15px !important;
    }
    .carousel-caption p {
        font-size: 1.5rem !important;
        margin-bottom:20px !important;
    }
    .carousel-caption {
        top:39%;
    }
}
@media(max-width:980px) {
    .sticky {
        position: sticky;
        top: 0;
        height: 13%;
        width: 100%;
    }
    .nav {
        --bs-nav-link-padding-x: 3rem;
    }
    .link-none{
        display: none;
    }
    .carousel > .carousel-inner > .carousel-item > img {
        width: 240px;
        height: 419px;
    }
    .carousel > .carousel-inner > .carousel-item > iframe {
        height: 419px;
    }
    .carousel > .carousel-inner > .carousel-item > video {
        height: 419px;
    }
    .carousel-caption {
        top: 37%;
    }
    .carousel-caption p {
        font-size: 1.5rem !important;
    }
    .carousel-caption .btn {
        display:none;
    }
}
@media(max-width:540px) {
    .carousel-control-next, .carousel-control-prev {
        top: 108px;
    }
    .carousel{
        padding-top: 80px;
    }
    .sticky {
        position: sticky;
        top: 0;
        height: 16%;
        width: 100%;
    }
    .link-none{
        display: none;
    }
    .card {
        font-size: 11px;
        width: 74%;
    }
    .dropdown-menu {
        --bs-dropdown-min-width: 6rem;
    }
    .show-home{
        transform: translate(-17px, 42px) !important;
    }
    .show-about{
        transform: translate(-8px, 42px) !important;
    }
    .show-product{
        transform: translate(-31px, 42px) !important;
    }
    .show-contact{
        transform: translate(-6px, 42px) !important;
    }
    .mobile-header{
        display: flex!important;
    }
    .website-nav{
        display: none!important;
    }
    .carousel > .carousel-inner > .carousel-item > img{
        width:240px;
        height:194px;
    }
    .carousel > .carousel-inner > .carousel-item > iframe {
        height: 194px;
    }
    .carousel > .carousel-inner > .carousel-item > video {
        height: 194px;
    }
    iframe[height] {
        height: 250px;
    }
    img[width] {
        width: 200px;
    }
    .row>* {
        text-align: center;
        display: flex;
        /*flex-direction: column;*/
        flex-wrap: inherit;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
    }
    .nav {
        --bs-nav-link-padding-x: 0.5rem;
        font-size: 0.5rem;
    }
    .navbar .container-fluid {
        display: flex;
        flex-direction: row;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-brand {
        font-size: 0.8rem;
    }
    .carousel-caption {
        top: 29%;
    }
    .carousel-caption p {
        font-size: 0.8rem !important;
    }
    .carousel-caption .btn {
        display:none;
    }
}
.main-timeline{ position: relative; }
.main-timeline:before{
    content: '';
    height: 74%;
    width: 1px;
    /*border-left: 7px dotted #909090;*/
    transform: translatex(-50%);
    position: absolute;
    left: 50%;
    top: 63px;
}
.main-timeline .timeline{
    margin-bottom: 5px;
    padding: 60px 0;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    /*content: '';*/
    /*height: 25px;*/
    /*width: 25px;*/
    /*background-color: #01C0F7;*/
    /*border-radius: 50%;*/
    /*box-shadow: 0 0 0 7px #fff,0 0 0 12px #909090;*/
    /*transform: translateX(-50%) translateY(-50%);*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*z-index: -1;*/
}
.main-timeline .timeline:after{
    width: 35%;
    height: 100px;
    border-radius: 0;
    left: auto;
    right: 0;
    top: 50%;
    transform: translateX(0) translateY(-50%);
    -webkit-clip-path: polygon(10% 0, 0 50%, 10% 100%, 100% 100%, 100% 0);
    clip-path: polygon(10% 0, 0 50%, 10% 100%, 100% 100%, 100% 0);
}
.main-timeline .timeline-content{display: block;}
.main-timeline .timeline-content:hover{text-decoration: none;}
.main-timeline .timeline-content:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .content-value{
    left: 10%;
    display: inline-block;
    float: left;
    width: 23%;
    color: #909090;
    position: relative;
}
.main-timeline .content{
    display: inline-block;
    float: left;
    width: 40%;
    color: #909090;
    position: relative;
}
.main-timeline .description{
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline .title{
    font-size: 22px;
    font-weight: 600;
    color: #01C0F7;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}
.timeline-value{
    padding: 25px;
    /* background-image: url(../img/BannerProduction.jpg); */
    color: #FFFFFF;
    /*text-align: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /* height: 91px; */
    width: 550px;
    /* font-size: 186px; */
    color: #01C0F7;
    text-align: justify;
    line-height: 34px;
    /*background-color: #fff;*/
    /* border: 5px solid #01C0F7; */
    border-radius: 15px;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.timeline-icon{
    /*background-image: url("../img/BannerProduction.jpg");*/
    color: #FFFFFF;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 550px;
    font-size: 186px;
    color: #01C0F7;
    text-align: center;
    line-height: 199px;
    background-color: #fff;
    /*border: 5px solid #01C0F7;*/
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.fa {
    line-height: inherit !important;
}

.main-timeline .timeline:nth-child(even):after{
    right: auto;
    left: 0;
    transform: translateX(0) translateY(-50%) rotate(180deg);
}
.main-timeline .timeline:nth-child(even) .content-value{
    left: -10%;
    float: right;
    text-align: end;
}
.main-timeline .timeline:nth-child(even) .content{
    float: right;
    text-align: end;
}
.main-timeline .timeline:nth-child(even) .timeline-value{
    right: auto;
    left: 2%;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    right: auto;
    left: 2%;
}
.main-timeline .timeline:nth-child(4n+1):after{
    /*background: linear-gradient(to right,#01C0F7,#01C0F7,#01C0F7,#01C0F7,#01C0F7,transparent,#868686);*/
}
.main-timeline .timeline:nth-child(4n+2):before{background-color: #0076B0;}
.main-timeline .timeline:nth-child(4n+2):after{
    /*background: linear-gradient(to right,#0076B0,#0076B0,#0076B0,#0076B0,#0076B0,transparent,#868686);*/
}

.main-timeline .timeline:nth-child(4n+2) .timeline-value{
    left: 0%;
    color: #0076B0;
    /*border-color: #0076B0;*/
}
.main-timeline .timeline:nth-child(4n+2) .timeline-icon{
    left: 0%;
    color: #0076B0;
    /*border-color: #0076B0;*/
}
.main-timeline .timeline:nth-child(4n+2) .title{color: #0076B0;}
.main-timeline .timeline:nth-child(4n+3):before{background-color: #00B09E;}
.main-timeline .timeline:nth-child(4n+3):after{
    /*background: linear-gradient(to right,#00B09E,#00B09E,#00B09E,#00B09E,#00B09E,transparent,#868686);*/
}
.main-timeline .timeline:nth-child(4n+3) .timeline-value{
    color: #00B09E;
    /*border-color: #00B09E;*/
}
.main-timeline .timeline:nth-child(4n+3) .timeline-icon{
    color: #00B09E;
    /*border-color: #00B09E;*/
}
.main-timeline .timeline:nth-child(4n+3) .title{color: #00B09E;}
.main-timeline .timeline:nth-child(4n+4):before{background-color: #22237E;}
.main-timeline .timeline:nth-child(4n+4):after{
    /*background: linear-gradient(to right,#22237E,#22237E,#22237E,#22237E,#22237E,transparent,#868686);*/
}
.main-timeline .timeline:nth-child(4n+4) .timeline-value{
    color: #22237E;
    /*border-color: #22237E;*/
}
.main-timeline .timeline:nth-child(4n+4) .timeline-icon{
    color: #22237E;
    /*border-color: #22237E;*/
}
.main-timeline .timeline:nth-child(4n+4) .title{color: #22237E;}
@media screen and (max-width:990px){
    .main-timeline:before{top: 75px;}
}
@media screen and (max-width:767px){
    .main-timeline .timeline:nth-child(even) .content{
        text-align: center!important;
    }
    .main-timeline:before,
    .main-timeline .timeline:before{display: none;}
    .main-timeline .timeline{
        padding-top: 180px;
        margin-bottom: 20px;
    }
    .main-timeline .timeline:nth-child(even):after,
    .main-timeline .timeline:after{
        height: 170px;
        width: 100px;
        top: 0;
        right: 50%;
        transform: translateY(0) translateX(50%);
        -webkit-clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
        clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
    }
    .main-timeline .timeline:nth-child(even):after{left:auto;}
    .main-timeline .timeline:nth-child(4n+1):after {
        background: linear-gradient(to bottom, #868686, #868686, transparent, #01C0F7, #01C0F7, #01C0F7, #01C0F7, #01C0F7);
    }
    .main-timeline .timeline:nth-child(4n+2):after{
        background: linear-gradient(to bottom,#868686,#868686,transparent,#0076B0,#0076B0,#0076B0,#0076B0,#0076B0);
    }
    .main-timeline .timeline:nth-child(4n+3):after{
        background: linear-gradient(to top,#00B09E,#00B09E,#00B09E,#00B09E,#00B09E,transparent,#868686,#868686);
    }
    .main-timeline .timeline:nth-child(4n+4):after{
        background: linear-gradient(to bottom,#868686,#868686,transparent,#22237E,#22237E,#22237E,#22237E,#22237E);
    }
    .main-timeline .content{
        float: none;
        width: 100%;
        text-align: center;
    }
    .main-timeline .timeline:nth-child(even) .timeline-value,
    .main-timeline .timeline-value{
        right: 50%;
        top: 2%;
        transform: translateX(50%) translateY(0);
    }
    .main-timeline .timeline:nth-child(even) .timeline-value{left: auto;}

    .main-timeline .timeline:nth-child(even) .timeline-icon,
    .main-timeline .timeline-icon{
        right: 50%;
        top: 2%;
        transform: translateX(50%) translateY(0);
    }
    .main-timeline .timeline:nth-child(even) .timeline-icon{left: auto;}
}
@media screen and (max-width:540px) {
    .main-timeline .timeline:nth-child(even) .content {
        text-align: center !important;
    }
    /*.timeline-value{*/
    /*    padding: 25px;*/
    /*    !* background-image: url(../img/BannerProduction.jpg); *!*/
    /*    color: #FFFFFF;*/
    /*    !*text-align: center;*!*/
    /*    !*background-repeat: no-repeat;*!*/
    /*    !*background-size: cover;*!*/
    /*    !* height: 91px; *!*/
    /*    width: 550px;*/
    /*    !* font-size: 186px; *!*/
    /*    color: #01C0F7;*/
    /*    text-align: justify;*/
    /*    line-height: 34px;*/
    /*    background-color: #fff;*/
    /*    !* border: 5px solid #01C0F7; *!*/
    /*    border-radius: 15px;*/
    /*    box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
    /*    position: absolute;*/
    /*    right: 0;*/
    /*    top: 50%;*/
    /*    transform: translateY(-50%);*/
    /*}*/

    .timeline-icon{
        height: 140px;
        width: 140px;
        font-size: 70px;
        color: #01C0F7;
        text-align: center;
        line-height: 127px;
        background-color: #fff;
        /*border: 5px solid #01C0F7;*/
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        position: absolute;
        right: 2%;
        top: 50%;
        transform: translateY(-50%);
    }
}
/*.main-timeline{ position: relative; }*/
/*.main-timeline:before{*/
/*    content: '';*/
/*    height: 74%;*/
/*    width: 1px;*/
/*    !*border-left: 7px dotted #909090;*!*/
/*    transform: translatex(-50%);*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 63px;*/
/*}*/
/*.main-timeline .timeline{*/
/*    margin-bottom: 5px;*/
/*    padding: 60px 0;*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/
/*.main-timeline .timeline:before,*/
/*.main-timeline .timeline:after{*/
/*    content: '';*/
/*    height: 25px;*/
/*    width: 25px;*/
/*    background-color: #01C0F7;*/
/*    border-radius: 50%;*/
/*    box-shadow: 0 0 0 7px #fff,0 0 0 12px #909090;*/
/*    transform: translateX(-50%) translateY(-50%);*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    z-index: -1;*/
/*}*/
/*.main-timeline .timeline:after{*/
/*    width: 35%;*/
/*    height: 100px;*/
/*    border-radius: 0;*/
/*    left: auto;*/
/*    right: 0;*/
/*    top: 50%;*/
/*    transform: translateX(0) translateY(-50%);*/
/*    -webkit-clip-path: polygon(10% 0, 0 50%, 10% 100%, 100% 100%, 100% 0);*/
/*    clip-path: polygon(10% 0, 0 50%, 10% 100%, 100% 100%, 100% 0);*/
/*}*/
/*.main-timeline .timeline-content{display: block;}*/
/*.main-timeline .timeline-content:hover{text-decoration: none;}*/
/*.main-timeline .timeline-content:after{*/
/*    content: '';*/
/*    display: block;*/
/*    clear: both;*/
/*}*/
/*.main-timeline .content{*/
/*    display: inline-block;*/
/*    float: left;*/
/*    width: 40%;*/
/*    color: #909090;*/
/*    position: relative;*/
/*}*/
/*.main-timeline .description{*/
/*    font-size: 15px;*/
/*    letter-spacing: 1px;*/
/*    margin: 0;*/
/*}*/
/*.main-timeline .title{*/
/*    font-size: 22px;*/
/*    font-weight: 600;*/
/*    color: #01C0F7;*/
/*    text-transform: uppercase;*/
/*    margin: 0 0 5px 0;*/
/*}*/
/*.timeline-icon{*/
/*    height: 140px;*/
/*    width: 140px;*/
/*    font-size: 70px;*/
/*    color: #01C0F7;*/
/*    text-align: center;*/
/*    line-height: 127px;*/
/*    background-color: #fff;*/
/*    border: 5px solid #01C0F7;*/
/*    border-radius: 50%;*/
/*    box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
/*    position: absolute;*/
/*    right: 2%;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*}*/
/*.fa {*/
/*    line-height: inherit !important;*/
/*}*/

/*.main-timeline .timeline:nth-child(even):after{*/
/*    right: auto;*/
/*    left: 0;*/
/*    transform: translateX(0) translateY(-50%) rotate(180deg);*/
/*}*/
/*.main-timeline .timeline:nth-child(even) .content{*/
/*    float: right;*/
/*    text-align: end;*/
/*}*/
/*.main-timeline .timeline:nth-child(even) .timeline-icon{*/
/*    right: auto;*/
/*    left: 2%;*/
/*}*/
/*.main-timeline .timeline:nth-child(4n+1):after{*/
/*    background: linear-gradient(to right,#01C0F7,#01C0F7,#01C0F7,#01C0F7,#01C0F7,transparent,#868686);*/
/*}*/
/*.main-timeline .timeline:nth-child(4n+2):before{background-color: #0076B0;}*/
/*.main-timeline .timeline:nth-child(4n+2):after{*/
/*    background: linear-gradient(to right,#0076B0,#0076B0,#0076B0,#0076B0,#0076B0,transparent,#868686);*/
/*}*/

/*.main-timeline .timeline:nth-child(4n+2) .timeline-icon{*/
/*    color: #0076B0;*/
/*    border-color: #0076B0;*/
/*}*/
/*.main-timeline .timeline:nth-child(4n+2) .title{color: #0076B0;}*/
/*.main-timeline .timeline:nth-child(4n+3):before{background-color: #00B09E;}*/
/*.main-timeline .timeline:nth-child(4n+3):after{*/
/*    background: linear-gradient(to right,#00B09E,#00B09E,#00B09E,#00B09E,#00B09E,transparent,#868686);*/
/*}*/
/*.main-timeline .timeline:nth-child(4n+3) .timeline-icon{*/
/*    color: #00B09E;*/
/*    border-color: #00B09E;*/
/*}*/
/*.main-timeline .timeline:nth-child(4n+3) .title{color: #00B09E;}*/
/*.main-timeline .timeline:nth-child(4n+4):before{background-color: #22237E;}*/
/*.main-timeline .timeline:nth-child(4n+4):after{*/
/*    background: linear-gradient(to right,#22237E,#22237E,#22237E,#22237E,#22237E,transparent,#868686);*/
/*}*/
/*.main-timeline .timeline:nth-child(4n+4) .timeline-icon{*/
/*    color: #22237E;*/
/*    border-color: #22237E;*/
/*}*/
/*.main-timeline .timeline:nth-child(4n+4) .title{color: #22237E;}*/
/*@media screen and (max-width:990px){*/
/*    .main-timeline:before{top: 75px;}*/
/*}*/
/*@media screen and (max-width:767px){*/
/*    .main-timeline .timeline:nth-child(even) .content{*/
/*        text-align: center!important;*/
/*    }*/
/*    .main-timeline:before,*/
/*    .main-timeline .timeline:before{display: none;}*/
/*    .main-timeline .timeline{*/
/*        padding-top: 180px;*/
/*        margin-bottom: 20px;*/
/*    }*/
/*    .main-timeline .timeline:nth-child(even):after,*/
/*    .main-timeline .timeline:after{*/
/*        height: 170px;*/
/*        width: 100px;*/
/*        top: 0;*/
/*        right: 50%;*/
/*        transform: translateY(0) translateX(50%);*/
/*        -webkit-clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);*/
/*        clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);*/
/*    }*/
/*    .main-timeline .timeline:nth-child(even):after{left:auto;}*/
/*    .main-timeline .timeline:nth-child(4n+1):after {*/
/*        background: linear-gradient(to bottom, #868686, #868686, transparent, #01C0F7, #01C0F7, #01C0F7, #01C0F7, #01C0F7);*/
/*    }*/
/*    .main-timeline .timeline:nth-child(4n+2):after{*/
/*        background: linear-gradient(to bottom,#868686,#868686,transparent,#0076B0,#0076B0,#0076B0,#0076B0,#0076B0);*/
/*    }*/
/*    .main-timeline .timeline:nth-child(4n+3):after{*/
/*        background: linear-gradient(to top,#00B09E,#00B09E,#00B09E,#00B09E,#00B09E,transparent,#868686,#868686);*/
/*    }*/
/*    .main-timeline .timeline:nth-child(4n+4):after{*/
/*        background: linear-gradient(to bottom,#868686,#868686,transparent,#22237E,#22237E,#22237E,#22237E,#22237E);*/
/*    }*/
/*    .main-timeline .content{*/
/*        float: none;*/
/*        width: 100%;*/
/*        text-align: center;*/
/*    }*/
/*    .main-timeline .timeline:nth-child(even) .timeline-icon,*/
/*    .main-timeline .timeline-icon{*/
/*        right: 50%;*/
/*        top: 2%;*/
/*        transform: translateX(50%) translateY(0);*/
/*    }*/
/*    .main-timeline .timeline:nth-child(even) .timeline-icon{left: auto;}*/
/*}*/
/*@media screen and (max-width:540px) {*/
/*    .main-timeline .timeline:nth-child(even) .content {*/
/*        text-align: center !important;*/
/*    }*/
/*}*/
.section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
}

.section-header::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #0d6efd;
    bottom: 0;
    left: calc(50% - 25px);
}

.section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
}
.work-porcess-area {
    background: #FFFFFF;
}

.work-porcess-area.white {
    background: #FFFFFF;
}

.work-porcess-area .process-info {
    margin-top: 7px;
}

.work-porcess-area .process-info .single-process {
    width: 160px;
    height: 160px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding-top: 53px;
    margin: 0 auto;
    background: #FFFFFF;
    -webkit-box-shadow: 0 10px 30px 0 rgba(51, 77, 208, 0.4);
    -o-box-shadow: 0 10px 30px 0 rgba(51, 77, 208, 0.4);
    -moz-box-shadow: 0 10px 30px 0 rgba(51, 77, 208, 0.4);
    -ms-box-shadow: 0 10px 30px 0 rgba(51, 77, 208, 0.4);
    box-shadow: 0 10px 30px 0 rgba(51, 77, 208, 0.4);
    position: relative;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}

.work-porcess-area .process-info .single-process:hover {
    -webkit-box-shadow: 0 10px 30px 0 rgba(51, 77, 208, 0.4)
    -o-box-shadow: 0 10px 30px 0 rgba(51, 77, 208, 0.4)
    -moz-box-shadow: 0 10px 30px 0 rgba(51, 77, 208, 0.4)
    -ms-box-shadow: 0 10px 30px 0 rgba(51, 77, 208, 0.4)
    box-shadow: 0 10px 30px 0 rgba(51, 77, 208, 0.4)
}

.work-porcess-area .process-info .single-process:after {
    position: absolute;
    /*content: "\f101";*/
    font-family: "fontawesome";
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -65px;
    color: #2246f8;
}

.work-porcess-area .process-info .single-process.first {
    background: #2246f8;
}

.work-porcess-area .process-info .single-process.first i:before {
    color: #FFFFFF;
}

.work-porcess-area .process-info .single-process.first h4 {
    color: #FFFFFF;
}

.work-porcess-area .process-info .single-process.thard {
    background: #2246f8;
}

.work-porcess-area .process-info .single-process.thard i:before {
    color: #FFFFFF;
}

.work-porcess-area .process-info .single-process.thard h4 {
    color: #FFFFFF;
}

.work-porcess-area .process-info .single-process.last:after {
    display: none;
}

.work-porcess-area .process-info .single-process i {
    display: block;
    line-height: 25px;
    margin-bottom: 12px;
}

.work-porcess-area .process-info .single-process i:before {
    font-size: 36px;
    color: #2246f8;
}

.work-porcess-area .process-info .single-process h4 {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: #2246f8;
}

@media only screen and (max-width: 767px) {
    .work-porcess-area .process-info .single-process::after {
        display: none;
    }
    .work-porcess-area .process-info .single-process{
        margin-top: 30px;
    }
    .work-porcess-area .section-title h2{
        margin-bottom: 5px;
    }
    .section-header h2 {
        font-size: 30px;
    }
}

.row-equal-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.p_column {
    height: 234px;
    width: 20%;
    background: dodgerblue;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 500;
    margin: 5px 15px 0;
    padding: 25px;
    /*border: solid 1px #d4d4d4;*/
    /*box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.08);*/
    border-radius: 12px;
    position: relative;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
/* Change color of your first-child */

/*Code for arrow*/

.p_column:before,
.p_column:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 42%;
    bottom: 86px;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
/* Stroke */

.p_column:before {
    right: -30px;
    border-left-color: dodgerblue;
    border-width: 15px;
}
/* Fill */

.p_column:after {
    right: -29px;
    border-left-color: transparent;
    border-width: 15px;
}
.p_column p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0
}
.p_column:first-child:before {
    border-left-color: dodgerblue;
}
.p_column:first-child:after {
    border-left-color: transparent;
}
.p_column:last-child:before,
.p_column:last-child:after {
    /*display: none*/
}
/*color change hover*/

.p_column:hover {
    background: transparent;
    color: #fff;
    border: solid 1px transparent;
}
.p_column:hover:before {
    border-left-color: transparent;
}
.p_column:hover:after {
    border-left-color: transparent;
}

.step-modal-grid{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.step-modal-grid .step-modal-image{
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.step-modal-grid .step-modal-image a.image{display: block; }
.step-modal-grid .step-modal-image img{
    width: 100%;
    height: auto;
}
.step-modal-grid .step-modal-discount-label{
    color: #fff;
    background: #A5BA8D;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    padding: 0 20px;
    position: absolute;
    top: 10px;
    left: 0;
}
.step-modal-grid .step-modal-links{
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 10px;
    right: -50px;
    transition: all .5s ease 0s;
}
.step-modal-grid:hover .step-modal-links{ right: 10px; }
.step-modal-grid .step-modal-links li a{
    color: #333;
    background: transparent;
    font-size: 17px;
    line-height: 38px;
    width: 38px;
    height: 38px;
    /*border: 1px solid #333;*/
    border-bottom: none;
    display: block;
    transition: all 0.3s;
}
.step-modal-grid .step-modal-links li:last-child a{ border-bottom: 1px solid #333; }
.step-modal-grid .step-modal-links li a:hover{
    color: #fff;
    background: #333;
}
.step-modal-grid .add-to-cart{
    background: #A5BA8D;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    padding: 10px 26px;
    position: absolute;
    left: 0;
    bottom: -60px;
    transition: all 0.3s ease 0s;
}
.step-modal-grid:hover .add-to-cart{ bottom: 0; }
.step-modal-grid .add-to-cart:hover{ text-shadow: 4px 4px rgba(0,0,0,0.2); }
.step-modal-grid .step-modal-content{
    background: #fff;
    padding: 15px;
    /*box-shadow: 0 0 0 5px dodgerblue inset;*/
}
.step-modal-grid .title{
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 7px;
}
.step-modal-grid .title a{
    color: #777;
    transition: all 0.3s ease 0s;
}
.step-modal-grid .title a:hover{ color: #a5ba8d; }
.step-modal-grid .price{
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 600;
}
.step-modal-grid .price span{
    color: #888;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
}
.product-grid{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.product-grid .product-image{
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.product-grid .product-image a.image{display: block; }
.product-grid .product-image img{
    width: 90%;
    height: auto;
}
.product-grid .product-discount-label{
    color: #fff;
    background: #A5BA8D;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    padding: 0 20px;
    position: absolute;
    top: 10px;
    left: 0;
}
.product-grid .product-links{
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 10px;
    right: -50px;
    transition: all .5s ease 0s;
}
.product-grid:hover .product-links{ right: 10px; }
.product-grid .product-links li a{
    color: #333;
    background: transparent;
    font-size: 17px;
    line-height: 38px;
    width: 38px;
    height: 38px;
    border: 1px solid #333;
    border-bottom: none;
    display: block;
    transition: all 0.3s;
}
.product-grid .product-links li:last-child a{ border-bottom: 1px solid #333; }
.product-grid .product-links li a:hover{
    color: #fff;
    background: #333;
}
.product-grid .add-to-cart{
    background: #A5BA8D;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    padding: 10px 26px;
    position: absolute;
    left: 0;
    bottom: -60px;
    transition: all 0.3s ease 0s;
}
.product-grid:hover .add-to-cart{ bottom: 0; }
.product-grid .add-to-cart:hover{ text-shadow: 4px 4px rgba(0,0,0,0.2); }
.product-grid .product-content{
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 0 5px dodgerblue inset;
}
.product-grid .title{
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 7px;
}
.product-grid .title a{
    color: #777;
    transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color: #a5ba8d; }
.product-grid .price{
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 600;
}
.product-grid .price span{
    color: #888;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
}
@media screen and (max-width: 990px){
    .curved-pb {
        padding-bottom: 4rem !important;
    }
    .curved-pt {
        padding-top: 0rem !important;
    }
    .curved {
        background-image: none;
    }
    .curved-svg {
        background-image: none;
    }
    .dummy {
        display: none;
    }
    .nav-link {
        font-size: 1rem;
    }
    .curved h1 {
        font-size: 3rem;
    }
    .p_column {
        margin: 0 0 0 0;
    }
    .row-equal-height {
        flex-direction: column;
    }
    .product-grid {
        margin-bottom: 30px;
    }
}

.flag {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-position: center;
    border: 1px solid #fff;
}

.flag.us {
    background-image: url('https://raw.githubusercontent.com/fonttools/region-flags/0f2ae1a950b35d406635cd5d0e3c1b1c837937c3/svg/US.svg');
    background-position: left center;
}

.flag.id {
    background-image: url('https://raw.githubusercontent.com/fonttools/region-flags/0f2ae1a950b35d406635cd5d0e3c1b1c837937c3/svg/ID.svg');
}

img.flag {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border: 1px solid #fff;
}

img.flag.us {
    object-position: left center;
}

.cool-link {
    display: block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
}

.cool-link:hover::after {
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #242526;
}
nav .wrapper{
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 75px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper .logo a{
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
.wrapper .nav-links{
    display: inline-flex;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 60px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.nav-links li a:hover{
    background: none;
}
.nav-links .mobile-item{
    display: none;
}
.nav-links .drop-menu{
    position: absolute;
    background: #242526;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}
.drop-menu li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}
.mega-box{
    position: absolute;
    left: -25px;
    width: 103.7%;
    padding: 0 30px;
    top: 90px;
    opacity: 0;
    visibility: hidden;
}
.mega-box .content{
    position: absolute;
    left: 0;
    top: 5px;
    background: darkblue;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
    width: calc(30% - 30px);
    line-height: 45px;
}
.content .row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content .row header{
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
}
.content .row .mega-links{
    margin-left: -40px;
    border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
    padding: 0 20px;
}
.row .mega-links li a{
    padding: 0px;
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
}
.row .mega-links li a:hover{
    color: #f2f2f2;
}
.wrapper .btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.wrapper .btn.close-btn{
    position: absolute;
    right: 30px;
    top: 10px;
}

@media screen and (max-width: 970px) {
    .p_column {
        width: 67%;
    }
    .wrapper .btn{
        display: block;
    }
    .wrapper .nav-links{
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: -100%;
        background: darkblue;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
        transition: all 0.3s ease;
    }
    /* custom scroll bar */
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #242526;
    }
    ::-webkit-scrollbar-thumb {
        background: none;
    }
    #menu-btn:checked ~ .nav-links{
        left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
        display: none;
    }
    #close-btn:checked ~ .btn.menu-btn{
        display: block;
    }
    .nav-links li{
        margin: 15px 10px;
    }
    .nav-links li a{
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }
    .nav-links .drop-menu{
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }
    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box{
        max-height: 100%;
    }
    .nav-links .desktop-item{
        display: none;
    }
    .nav-links .mobile-item{
        display: block;
        color: #f2f2f2;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover{
        background: none;
    }
    .drop-menu li{
        margin: 0;
    }
    .drop-menu li a{
        border-radius: 5px;
        font-size: 18px;
    }
    .mega-box{
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }
    .mega-box .content{
        position: static;
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }
    .mega-box .content .row{
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255,255,255,0.08);
    }
    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2){
        border-top: 0px;
    }
    .content .row .mega-links{
        border-left: 0px;
        padding-left: 15px;
    }
    .row .mega-links li{
        margin: 0;
    }
    .content .row header{
        font-size: 19px;
    }
}
nav input{
    display: none;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

.card-custom {
    border-radius: 150px;
}
.card {
    transition: .4s all ease-out;
    border: none;
    /*margin: 25px auto;*/
    padding: 0;
}
.card-img-top {
    height: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /*box-shadow: 0 0 25px rgba(0,0,0,.05);*/
}
.product_price {
    float:right;
    font-family: lato;
    color:#6b7270;
    font-size: 20px;
    font-weight:400;
}
.product-detail {
    width: 100%;
    position: absolute;
    height: 75px;
    bottom: 0;
    overflow: hidden;
    padding: 16px;
    background-color: rgba(223, 217, 217, 0.75);
    transition: all 0.35s;
    text-align: center;
    box-sizing: border-box;
}
.card .product-detail h5 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
}
.card .product-detail .subheading {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: rgba(0,0,0,0.6);
}
.card .product-detail blockquote {
    padding: 0;
    margin: 0;
    font-style: italic;
    font-size: 1em;
}
.card:hover .product-detail {
    height: calc(100%);
    padding-top: 100px;
}

.u-loading {
    width: 128px;
    height: 128px;
    display: block;
    margin: 48px;

    &__symbol {
        background-color: #4caf50;
        padding: 8px;
        animation: loading 3s infinite;
        border-radius: 5px;

        img {
            display: block;
            max-width: 100%;
            animation: loading-icon 3s infinite;
        }
    }
}

@keyframes loading {
    0% {
        transform: perspective(250px) rotateX(0deg) rotateY(0deg);
    }

    15% {
        background-color: #4caf50;
    }

    16% {
        background-color: #b44646;
    }

    50% {
        transform: perspective(250px) rotateX(180deg) rotateY(0deg);
        background-color: #b44646;
    }

    65% {
        background-color: #b44646;

    }

    66% {
        background-color: #4caf50;
    }

    100% {
        transform: perspective(250px) rotateX(180deg) rotateY(-180deg);
    }
}

@keyframes loading-icon {
    0% {
        transform: perspective(250px) rotateX(0deg) rotateY(0deg);
    }

    15% {
        transform: perspective(250px) rotateX(0deg) rotateY(0deg);
    }

    16% {
        transform: perspective(250px) rotateX(180deg) rotateY(0deg);
    }

    50% {
        transform: perspective(250px) rotateX(180deg) rotateY(0deg);
    }

    65% {
        transform: perspective(250px) rotateX(180deg) rotateY(0deg);
    }

    66% {
        transform: perspective(250px) rotateX(180deg) rotateY(180deg);
    }

    100% {
        transform: perspective(250px) rotateX(180deg) rotateY(180deg);
    }
}


.value-icon-position {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
}

.value-padding {

}

.value-card {
    height: 16rem;
}

.text-line {
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 0;
    -webkit-box-orient: vertical;
}
.value-detail {
    padding: 15px;
    border-radius: 0.375rem;
    width: 100%;
    position: absolute;
    height: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 0.35s;
    text-align: center;
    box-sizing: border-box;
}
.card:hover .value-detail {
    font-size: 0.8rem;
    height: calc(100%);
    display: flex;
    padding: 15px;
    align-items: center;
}
.production-image-one {
    color: #FFFFFF;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.production-detail {
    border-radius: 12px;
    background-color: dodgerblue;
    width: 100%;
    position: absolute;
    height: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 0.35s;
    text-align: center;
    box-sizing: border-box;
}
.p_column:hover .production-detail {
    border-radius: 12px;
    height: calc(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    align-items: center;
}
.p_column h3 {
    font-size: 2rem;
}
.p_column p {
    text-align: justify;
    font-size: 0.8rem;
}
.product-height-custom{
    height: 50%!important;
}
@media(max-width:1180px) {
    .product-height-custom {
        height: 18% !important;
    }
    .slick-slide {
        height: auto!important;
    }
}
@media(device-width:853px) and (device-height:1280px ){
    .product-height-custom {
        height: 18% !important;
    }
    .slick-slide {
        height: auto!important;
    }
}
@media(max-width:980px) {
    .product-height-custom {
        height: 18% !important;
    }
    .slick-slide {
        height: auto!important;
    }
}
@media(max-width:540px) {
    .value-padding{
        padding: 3rem;
    }
    .product-height-custom {
        height: 29% !important;
    }
    .slick-slide {
        height: auto!important;
    }
}
.h1 {
    font-size: 3rem;
}
.h5{
    font-size: 1.6rem;
}
.text-color {
    color: #bec4c9;
}
.background-color {
    background-color: #f0f1f3;
}

.slick-arrow {
    z-index: 99;
    width: 40px;
    height: 40px;
}

.slick-arrow:before {
    font-size: 30px;
}
.slick-next {
    right: 0;
}
.slick-prev {
    left: 0;
}

.btn-wrap {
    text-align: center;
    width: 100%;
}
button {
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s;
}
button.slick-disabled {
    opacity: 0.6;
}

.visimisi-styleone {
    position: relative;
    height: 87vh;
}

.visimisi-styletwo {
    position: absolute!important;
    margin-left: auto!important;
    margin-right: auto!important;
    left: 0!important;
    right: 0!important;
    text-align:center!important;
}

#myVideo {
    width: 100%;
}

@media(max-width:540px) {
    .visimisi-styleone {
        height: 73vh!important;
    }

    .visimisi-styletwo {
        position: absolute;
        left: 0%;
    }
}
/*ASUS ZENBOOK FOLD*/
@media(device-width:1920px) and (device-height: 1080px) {
    .visimisi-styleone {
        height: 49vh!important;
    }

    .visimisi-styletwo {
        position: absolute;
        left: 9%;
    }
}

/*ASUS ZENBOOK FOLD*/
@media(device-width:853px) and (device-height: 1280px) {
    .visimisi-styleone {
        height: 49vh!important;
    }

    .visimisi-styletwo {
        position: absolute;
        left: 4.4%;
    }
}

/*IPAD AIR*/
@media(device-width:768px) and (device-height: 1024px) {
    .visimisi-styleone {
        height: 49vh!important;
    }

    .visimisi-styletwo {
        position: absolute;
        left: 14.4%;
    }
}

/*IPAD-MINI*/
@media(device-width:768px) and (device-height: 1024px){
    .visimisi-styleone {
        height: 50vh!important;
    }
    .visimisi-styletwo {
        position: absolute;
        left: 4.4%;
    }
}

/*IPHONE PRO 12 MAX*/
@media(device-width:430px) and (device-height: 932px){
    .visimisi-styleone {
        height: 55vh!important;
    }
}

/*IPHONE-XR*/
@media(device-width:414px) and (device-height: 896px){
    .visimisi-styleone {
        height: 61vh!important;
    }
}

/*PIXEL 7*/
@media(device-width:412px) and (device-height: 915px){
    .visimisi-styleone {
        height: 58vh!important;
    }
}

/*SAMSUNG GALAXY A51*/
@media(device-width:412px) and (device-height: 914px){
    .visimisi-styleone {
        height: 58vh!important;
    }
}

/*IPHONE 12 PRO*/
@media(device-width:390px) and (device-height: 844px){
    .visimisi-styleone {
        height: 63vh!important;
    }
}

